[submodule "vendor/mathjax"]
	path = vendor/mathjax
	url = https://github.com/mathjax/MathJax.git
[submodule "docs"]
	path = docs
	url = https://github.com/ckeditor/ckeditor-docs.git
	branch = master
[submodule "vendor/ckeditor-presets"]
	path = vendor/ckeditor-presets
	url = https://github.com/ckeditor/ckeditor-presets.git
[submodule "samples/assets/plugins/openlink"]
	path = samples/assets/plugins/openlink
	url = https://github.com/mlewand/ckeditor-plugin-openlink.git
[submodule "samples/assets/plugins/linkballoon"]
	path = samples/assets/plugins/linkballoon
	url = https://github.com/ckeditor/ckeditor4-plugin-linkballoon.git
