[submodule "ckeditor"]
	path = vendor/ckeditor
	url = https://github.com/ckeditor/ckeditor-releases.git
[submodule "vendor/mathjax"]
	path = vendor/mathjax
	url = https://github.com/mathjax/MathJax.git
[submodule "docs"]
	path = docs
	url = https://github.com/ckeditor/ckeditor-docs.git
	branch = master
