/*
This file is a copyrighted work of CKSource and is protected under Poland and worldwide copyright laws and treaty provisions.
CKSource grants you permission to distribute this file exclusively as part of the CKEditor SDK.
It is forbidden to copy and distribute this file in its original or modified form in any other way than together with the CKEditor SDK that this file constitutes an integral part of.
*/

@charset "utf-8";
/* --- Contents ------------------------ */

.sdk-contents
{
	@include adjust-font-size-to( .875rem );
	overflow: hidden;
	display: table-cell;
	padding: 0 2*$std-standard-vgap $std-standard-vgap;

	// (#79, #86)
	input, select, textarea:not( .cke_source ), button
	{
		font: inherit;
		color: inherit;
	}

	input[type="button"] {
		@include appearance( button );
	}

	h1, h2, h3,
	{
		font-family: $sdk-font-maven;
		color: #000;

		// Default vertical rhythm.
		margin: {
			top: .75*$std-standard-vgap;
			bottom: .25*$std-standard-vgap;
		}

		// (#73)
		code, kbd {
			font-size: inherit;
		}
	}

	// Default vertical rhythm.
	p, ul, ol, pre, blockquote, .cke
	{
		margin: $std-standard-vgap 0;
	}

	h1
	{
		@include adjust-font-size-to( 1.6875rem );
		color: #66ab16;
		font-weight: normal;

		& > a.documentation {
			@include background( image-url("documentation.png") no-repeat 0 50% );
			@include adjust-font-size-to( 1rem );
			padding-left: 25px;
			float: right;
			margin-top: 0.8em
		}
	}

	h2
	{
		@include adjust-font-size-to( 1.5rem );
		font-weight: normal;
	}

	h3
	{
		@include adjust-font-size-to( 1.3125rem );
		font-weight: normal;
	}

	ul
	{
		// Used in samples/acfcustom.html.
		&.spacious li {
			margin: $std-standard-vgap/2;
		}

		&.code-samples {
			list-style: none;

			li {
				margin-bottom: 0.5em;
			}
		}
	}

	pre, code, kbd
	{
		@include border-radius( 3px );
		background: $sdk-box-background-color;
		border: 1px solid $sdk-box-border-color;
		padding: 3px 4px;
	}

	pre, code
	{
		// (#40, #37)
		@include adjust-font-size-to( .813rem );
		font-family: $sdk-font-stack-monospace;
	}

	// (#10)
	kbd
	{
		@include adjust-font-size-to( .75rem );
		font-family: $sdk-font-stack;

		@include box-shadow(
			0 0 4px #fff inset,
			0 2px 0 $sdk-box-border-color
		);
	}

	pre
	{
		padding: $std-standard-vgap/2;
	}

	p
	{
		img {
			vertical-align: middle;
		}

		pre
		{
			padding: $std-standard-vgap;
		}
	}

	a {
		//(#96)
		@include colorful-links;

		&:not(.documentation) {
			&[href*="#!/api"]:after,
			&[href*="#!/guide"]:after,
			&[href^="./"]:after {
				margin-left: .3em;
				margin-right: .1em;
				margin-bottom: 3px;
			}

			&[href*="#!/api"]:after {
				content: image-url("gear.png");
			}

			&[href*="#!/guide"]:after {
				content: image-url("book.png");
			}

			&[href^="./"]:after {
				content: image-url("sample.png");
			}
		}
	}

	abbr
	{
		border-bottom: 1px dotted #666;
		cursor: pointer;
	}

	em
	{
		font-style: italic;
	}

	// Used in samples/sourcearea.html.
	.inline-editor
	{
		border: 1px dotted #999;
		padding: 5px 20px;
	}

	.tip
	{
		@include border-radius( 3px );
		@include box-shadow( 2px 2px 0 0 #ccc );

		border: 1px solid #aaa;
		padding: $std-standard-vgap $std-standard-vgap $std-standard-vgap 70px;
		margin: 1em 0;
		background: #f5f5f5;
		overflow: hidden;
		position: relative;

		&:before
		{
			content: image-url("tip.png");
			position: absolute;
			top: 50%;
			margin-top: -16px;
			left: $std-standard-vgap;
		}

		&.alert
		{
			background: #FFDB67;

			&:before
			{
				content: image-url("alert.png");
				margin-top: -18px;
			}
		}
	}

	div.todo
	{
		border: 2px dotted #444;
		padding: 10px;
		margin: 60px 0 10px 0;

		/* Remove me some day */
		&:before {
			content: "TODO";
			font-weight: bold;
		}
	}
}