/*
This file is a copyrighted work of CKSource and is protected under Poland and worldwide copyright laws and treaty provisions.
CKSource grants you permission to distribute this file exclusively as part of the CKEditor SDK.
It is forbidden to copy and distribute this file in its original or modified form in any other way than together with the CKEditor SDK that this file constitutes an integral part of.
*/

@charset "utf-8";
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
	display: block;
}

body, html
{
	margin: 0;
	padding: 0;
	font: #{$base-font-size}/#{$base-line-height} $sdk-font-stack;
	color: $sdk-text-color;
}

/* --- Various elements ------------------------ */

.sdk-header
{
	height: 130px;
	background: $sdk-ckeditor-color;
	overflow: hidden;

	a
	{
		outline: none;
	}
}

.sdk-logo
{
	position: absolute;
	left: 40px;
	top: 50px;
	margin: 0;

	img
	{
		border: transparent;
	}
}

/* --- Container ------------------------ */

.sdk-container
{
	overflow: hidden;
	width: 100%;
	display: table;
	max-width: 1280px;
}

/* --- Navigations ------------------------ */

.sdk-top-navigation,
.sdk-main-navigation
{
	display: block;
	overflow: hidden;

	ul
	{
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;

		li
		{
			display: inline-block;
		}
	}
}

/* --- Other styles and classes ------------------------ */

blockquote
{
	font-style: italic;
	font-family: $sdk-font-stack-serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
	border-left-width: 5px;
	padding-left: 20px;
	padding-right: 8px;
}

.marker
{
	background-color: Yellow;
}

textarea.disabled
{
	background:#f0f0f0;
	resize: none;
}

#eMessage
{
	border: 1px dotted #000;
	padding:10px;
	margin-top:0;
}

/* --- Modal with source code ------------------------ */

.pico-content.source-code
{
	@include background( $sdk-box-background-color );
	@include border-radius( 3px );
	@include box-sizing( border-box );
	bottom: 50px;
	padding: $std-standard-vgap;

	.pico-close
	{
		@include opacity( .8 );
		position: absolute;
		top: 8px;
		right: 8px;
		width: 16px;
		height: 16px;
		cursor: pointer;

		&:hover
		{
			@include opacity( 1 );
		}
	}

	& > div
	{
		width: 800px;
		height: 100%;
		position: relative;

		& > div.textarea-wrapper
		{
			position: absolute;
			top: 45px;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	textarea
	{
		@include adjust-font-size-to( .813rem, .8 );
		@include box-sizing( border-box );
		color: $sdk-text-color;
		padding: 10px;
		width: 100%;
		height: 100%;
		margin: 0;
		resize: none;
		outline: none;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		white-space: pre;
		word-wrap: normal;
		overflow: auto;
		font-family: $sdk-font-stack-monospace;
	}

	.source-code-tab
	{
		@include border-radius( 3px );
		@include adjust-font-size-to( .813rem );
		display: inline-block;
		background: $sdk-link-color;
		cursor: pointer;
		text-decoration: none;
		padding: 2px 10px 0;
		color: #fff;
		@include user-select( none );
		@include box-shadow( 0 2px 0 adjust-lightness( $sdk-link-color, -10% ) );
		@include text-shadow( 0 -1px $sdk-link-color-hover );

		&:hover, &:active, &:focus
		{
			background: $sdk-link-color-hover;
		}
	}

	.source-code-tab + .source-code-tab
	{
		margin-left: 15px;
	}
}
