@charset "utf-8";
/* --- Sidebar ------------------------ */

$sdk-sidebar-bg-bright:					adjust-lightness( $sdk-box-background-color, 5% );
$sdk-sidebar-bg-dark:					$sdk-box-background-color;
$sdk-sidebar-bg:						linear-gradient( to right, $sdk-sidebar-bg-bright, $sdk-sidebar-bg-dark );
$sdk-sidebar-selected-bg: 				linear-gradient( to right, adjust-lightness( $sdk-sidebar-bg-bright, -3% ), adjust-lightness( $sdk-sidebar-bg-dark, -3% ) );

.sdk-sidebar
{
	width: 280px;
	@include background-image( $sdk-sidebar-bg );
	@include box-shadow( -2px 0 2px rgba(0,0,0,.03) inset );
	border-right: 1px solid $sdk-box-border-color;
	display: table-cell;
	padding-bottom: 30px;

	h2, h3
	{
		font-family: $sdk-font-maven;
		font-weight: bold;
		padding-left: 30px;
		color: #000;
	}

	h2
	{
		@include adjust-font-size-to( 1.1875rem );
		margin-top: 35px;
	}

	h3
	{
		@include adjust-font-size-to( 1rem );
		@include user-select( none );
		cursor: pointer;
		font-weight: normal;

		padding: {
			top: 4px;
			bottom: 4px;
		};
		margin: 0;

		&:before {
			font-family: $sdk-font-stack;
			content: "+";
			margin-right: .3em;
			font-weight: normal;
			min-width: 10px;
			display: inline-block;
		}

		&:hover
		{
			background: $sdk-sidebar-selected-bg;
		}

		&.active {
			&:before {
				content: "-";
			}

			& + ul {
				display: block;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		display: none;

		li
		{
			margin: 0;
			padding: 0;
			color: $sdk-link-sidebar-color;
			list-style-type: none;

			a
			{
				@include adjust-font-size-to( .813rem );
				color: $sdk-link-sidebar-color;
				text-decoration: none;
				display: block;
				padding: 4px 20px 4px 60px;
				outline: none;

				border-style: solid;
				border-color: transparent;
				border-width: 1px 0;

				&:hover {
					color: $sdk-link-sidebar-color-hover;
					background: $sdk-sidebar-selected-bg;
				}
			}

			&.active a
			{
				border-color: $sdk-box-border-color;

				@include border-image( linear-gradient( to right, $sdk-sidebar-bg-bright, $sdk-box-border-color ) 20 stretch );
				@include background( $sdk-sidebar-bg );

				color: $sdk-link-color;
				position: relative;

				&:after {
					content: image-url( "indicator.png" );
					display: block;
					width: 18px;
					height: 35px;
					position: absolute;
					right: -18px;
					top: 50%;
					margin-top: -17px;
				}
			}
		}
	}
}
