@import "compass";

$sdk-font-stack:				Arial, Helvetica, sans-serif;
$sdk-font-stack-serif:			Georgia, Times, "Times New Roman", serif;
$sdk-font-stack-monospace:		Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
$sdk-font-maven:				"Maven Pro";
$sdk-text-color:				#575757;

$sdk-link-color:				#cf5d4e;
$sdk-link-color-hover:			#a64b3f;
$sdk-link-sidebar-color:		#535353;

$sdk-box-background-color:		#f8f8f8;
$sdk-box-border-color:			#ddd;

$sdk-ckeditor-color:			#cceaee;