/* --- Contents ------------------------ */

.sdk-contents
{
	overflow: hidden;
	display: table-cell;
	padding: 0 40px 20px;
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.8;

	h1, h2, h3,
	{
		font-family: $sdk-font-maven;
		color: #000;
	}

	h1
	{
		font-size: 27px;
		font-size: 1.6875rem;
		color: #66ab16;
		font-weight: normal;

		& > a.documentation {
			@include background( image-url("documentation.png") no-repeat 0 50% );
			padding-left: 25px;
			font-size: 0.6em;
			float: right;
			margin-top: 0.8em
		}
	}

	h2
	{
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: normal;

		&.editor-title
		{
			margin-bottom:10px;
		}
	}

	h3
	{
		font-size: 21px;
		font-size: 1.3125rem;
		font-weight: normal;
	}

	.inline-editor
	{
		margin-top:85px;
	}

	ul.spacious li
	{
		margin: 10px;
	}

	p, li
	{
		code {
			@include box-shadow( 0 0 2px rgba(0,0,0,.2) );
			font-family: $sdk-font-stack-monospace;
			background: $sdk-box-background-color;
			border-bottom: 1px solid $sdk-box-border-color;
			padding: 2px 4px;

			// (#40, #37)
			font-size: 13px;
			font-size: .813rem;
		}
	}

	a {
		&:not(.cke_path_item)
		{
			color: $sdk-link-color;
			text-decoration: none;

			&:hover
			{
				color: $sdk-link-color-hover;
			}
		}
	}

	pre
	{
		background: $sdk-box-background-color;
		padding:10px;
	}

	p pre
	{
		background: $sdk-box-background-color;
		padding: 20px;
		border-bottom: 1px solid $sdk-box-border-color;
		margin: 30px 0;
	}

	abbr
	{
		border-bottom: 1px dotted #666;
		cursor: pointer;
	}

	em
	{
		font-style: italic;
	}

	.tip
	{
		@include border-radius( 3px );
		@include box-shadow( 2px 2px 0 0 #ccc );

		border: 1px solid #aaa;
		padding: 15px 15px 15px 65px;
		margin: 1em 0;
		background: #eee;
		overflow: hidden;
		position: relative;

		&:before
		{
			content: image-url("tip.png");
			position: absolute;
			top: 50%;
			margin-top: -16px;
			left: 15px;
		}

		&.alert
		{
			background: #FFDB67;

			&:before
			{
				content: image-url("alert.png");
				margin-top: -18px;
			}
		}
	}

	div.todo
	{
		border: 2px dotted #444;
		padding: 10px;
		margin: 60px 0 10px 0;

		/* Remove me some day */
		&:before {
			content: "TODO";
			font-weight: bold;
		}
	}
}