body
{
	overflow: hidden;
	display: table-cell;
	padding: 0 40px 20px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.8;
}

body h1,
body h2,
body h3,
{
	font-family: "Maven Pro";
	color: #000;
}

body h1
{
	font-size: 27px;
	font-size: 1.6875rem;
	color: #66ab16;
	font-weight: normal;
}

body h2
{
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: normal;
}

body h3
{
	font-size: 21px;
	font-size: 1.3125rem;
	font-weight: normal;
}

body h2.editor-title
{
	margin-bottom:10px;
}

body .inline-editor
{
	margin-top:85px;
}

body a:not(.cke_path_item)
{
	color: #cf5d4e;
	text-decoration: none;
}

body h1 > a.documentation {
	background:url(../img/documentation.png) no-repeat 0 50%;
	padding-left:25px;
	font-size:0.6em;
	float:right;
	margin-top:0.8em
}
body code
{
	background: #f8f8f8;
	padding: 5px 7px;
	border-bottom: 1px solid #eee;
}

body a:hover:not(.cke_path_item)
{
	color: #a64b3f;
}

body pre
{
	background: #f8f8f8;
	padding: 20px;
	border-bottom: 1px solid #eee;
	margin: 30px 0;
}

body abbr
{
	border-bottom: 1px dotted #666;
	cursor: pointer;
}

body em
{
	font-style: italic;
}
