body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cke_editable
{
	font-size: 15px;
	line-height: 1.8;
}

h1, h2, h3, h4 {
	color: #ff0714;
}

a {
	color: #ff0714;
}

s {
	color: #aaaaaa;
}